<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>best_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{225,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,24}}</string>
                <key>sourceSize</key>
                <string>{225,24}</string>
            </dict>
            <key>big_num_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>big_num_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>big_num_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>flappyrec_welcome_audio_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>flappyrec_welcome_audio_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>flappyrec_welcome_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1135},{1200,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,720}}</string>
                <key>sourceSize</key>
                <string>{1200,720}</string>
            </dict>
            <key>flappyrec_welcome_rec.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{575,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,388}}</string>
                <key>sourceSize</key>
                <string>{575,388}</string>
            </dict>
            <key>flappyrec_welcome_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,125},{156,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,159}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>flappyrec_welcome_return_little.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,125},{156,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,159}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>flappyrec_welcome_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,125},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flappyrec_welcome_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{723,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{723,133}}</string>
                <key>sourceSize</key>
                <string>{723,133}</string>
            </dict>
            <key>num_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>num_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>num_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,2},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,125},{156,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,159}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>wechat_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,744},{575,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,389}}</string>
                <key>sourceSize</key>
                <string>{575,389}</string>
            </dict>
            <key>white_rec.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,125},{170,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,482}}</string>
                <key>sourceSize</key>
                <string>{170,482}</string>
            </dict>
            <key>whitebird.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flappyrec.png</string>
            <key>size</key>
            <string>{1204,1857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5839e8632fc6378946cf41bf97f05768:a73a937fc55fb46a44cdb46f00c66c22:19abdd18083e574588ebceaa4dd38fa3$</string>
            <key>textureFileName</key>
            <string>flappyrec.png</string>
        </dict>
    </dict>
</plist>
